<template>
  <f7-page>
    <!-- Top Navbar -->
    <f7-navbar sliding>
      <f7-nav-left back-link></f7-nav-left>
      <f7-nav-title>Ошибка</f7-nav-title>
    </f7-navbar>

    <f7-block>
      <img class="padding-vertical" src="static/notfound.png" width="100%"/>
      <p class="text-align-center">А здесь ничего нет. Совсем ничего :(</p>
    </f7-block>
  </f7-page>
</template>
