<template>
  <f7-page name="about">
    <!-- Top Navbar -->
    <f7-navbar sliding>
      <f7-nav-left back-link></f7-nav-left>
      <f7-nav-title>Об игре Hidden Codes</f7-nav-title>
    </f7-navbar>

    <f7-block>&laquo;Hidden Codes&raquo; - игра на скорость, направленная на ориентирование на местности. Задача участника игры - за минимальное время найти все спрятанные коды в указанных на карте точках.</f7-block>

    <f7-block-title>Как обновить список игр?</f7-block-title>
    <f7-block>На главном экране программы проведите по экрану сверху вниз. Это запустит процесс обновления списка игр текущей вкладки. В списке "Предстоящие игры" отображаются те игры, которые ещё не закончились, самые ближайшие - сверху. В списке "Я участник" отображаются все игры, в которых вы когда-либо решили принять участие, самые ближайшие сверху.</f7-block>

    <f7-block-title>Как присоединиться к игре?</f7-block-title>
    <f7-block>На главном экране программы на вкладке "Предстоящие игры" выберите интересующую вас игру. На открывшемся экране игры передвиньте переключатель "Я участник". Действие доступно только если игра ещё не началась и не набрано максимально доступное количество участников. После этого игра станет отображаться в списке на вкладке "Я участник". Как только наступит время начала игры, выберите её из списка. После этого вы сможете увидеть точки-задания, которые необходимо достичь. Вкладка "Точки" недоступна, пока время игры не пришло.</f7-block>

    <f7-block-title>Как создать игру?</f7-block-title>
    <f7-block>На главном экране программы нажмите кнопку "+". В открывшемся экране на вкладке "Об игре" заполните все поля формы, на вкладке "Точки" отметьте на карте точки маршрута и задайте коды для каждой точки. Нажмите кнопку "Сохранить". После этого игра станет доступна всем участникам.</f7-block>

    <f7-block-title>Как изменить или удалить игру?</f7-block-title>
    <f7-block>Откройте игру из списка. На экране игры, если она ещё не началась, будет доступна кнопка "Удалить". При удалении игры она станет недоступна всем её участникам. Если игра не закончилась - в верхнем меню доступна кнопка редактирования. Изменение игры отразится на всех её участниках.</f7-block>

    <f7-block-title>Как отметить найденный код?</f7-block-title>
    <f7-block>В экране игры на вкладке "Точки" коснитесь отметки точки, рядом с которой вы находитесь. В появившемся окне введите найденный код. В случае, если код верный - точка будет засчитана и окрасится на карте в зелёный цвет.</f7-block>

    <f7-block-title>Как изменить данные профиля?</f7-block-title>
    <f7-block>В главном меню программы выберите пункт "Профиль" и заполните интересующие вас поля. После нажатия кнопки "Сохранить" профиль будет обновлён.</f7-block>

    <f7-block-title>У меня возникла проблема, что делать?</f7-block-title>
    <f7-block>Напишите в службу поддержки по адресу <a class="external" href="mailto:support@seon.cloud">support@seon.cloud</a></f7-block>
  </f7-page>
</template>
