<template>
  <f7-page
    name="game"
    tabs
    :page-content="false"
    animated
    @page:beforein="pageBeforeIn"
    @page:afterout="pageAfterOut"
  >
    <!-- Top Navbar -->
    <f7-navbar sliding>
      <f7-nav-left back-link></f7-nav-left>
      <f7-nav-title>{{ game.title }}</f7-nav-title>
      <f7-nav-right v-if="isAuthor && canEdit">
        <f7-link icon-f7="pencil_circle" force :href="`/game/${game._id}/edit`"></f7-link>
      </f7-nav-right>
    </f7-navbar>

    <f7-toolbar tabbar bottom labels>
      <f7-link tab-link-active tab-link="#info" text="Инфо" icon-f7="info_circle"></f7-link>
      <f7-link v-if="showPoints" tab-link="#points" text="Точки" icon-f7="globe"></f7-link>
    </f7-toolbar>

    <f7-tabs animated>
      <f7-page-content tab tab-active id="info">
        <f7-list no-hairlines class="no-margin-vertical">
          <f7-list-item title="Статус" :badge="formatStatus(game.startDate, game.endDate)" :badgeColor="formatStatusColor(game.startDate, game.endDate)"></f7-list-item>
          <f7-list-item title="Дата начала" :after="formatDate(game.startDate)"></f7-list-item>
          <f7-list-item title="Продолжительность" :after="formatDuration(game.duration)"></f7-list-item>
          <f7-list-item
            title="Количество игроков"
            :after="`${game.players.length} из ${game.maxPlayers}`"
          ></f7-list-item>
          <f7-list-item title="Количество точек" :after="game.points.length || '0'"></f7-list-item>
          <f7-list-item title="Я участник">
            <f7-toggle slot="after" :checked="isPlayer" @toggle:change="togglePlayer"></f7-toggle>
          </f7-list-item>
          <f7-list-item v-if="isPlayer" title="Найдено точек" :after="myReachedCount || '0'"></f7-list-item>
        </f7-list>
        <f7-block v-if="game.description">
          <f7-block-footer>
            <p>{{ game.description }}</p>
          </f7-block-footer>
        </f7-block>
        <f7-block v-if="isAuthor && canDelete" class="text-align-center">
          <f7-link color="red" @click="tryDelete">Удалить игру</f7-link>
        </f7-block>
      </f7-page-content>

      <f7-page-content tab id="points" @tab:show="onTabPointsShow">
        <div id="map" style="width: 100%; height: 100%"></div>
      </f7-page-content>
    </f7-tabs>
  </f7-page>
</template>

<script>
import moment from "moment";
let map = null;
let unreachedPoints = [];
let reachedPoints = [];
let isPlayerRestored = false;

export default {
  props: ["gameData"],

  data() {
    return {
      game: this.gameData,
      isPlayer:
        this.gameData.players.indexOf(localStorage.getItem("userId")) !== -1
    };
  },

  computed: {
    isAuthor() {
      return this.game.author === localStorage.getItem("userId");
    },

    isActive() {
      const startAt = moment(this.game.startDate);
      const endAt = moment(this.game.endDate);
      const now = moment();
      return startAt < now && endAt > now;
    },

    canEdit() {
      const endAt = moment(this.game.endDate);
      const now = moment();
      return endAt > now;
    },

    canDelete() {
      const startAt = moment(this.game.startDate);
      const now = moment();
      return startAt > now;
    },

    showPoints() {
      const startAt = moment(this.game.startDate);
      const now = moment();
      return startAt < now && this.isPlayer;
    },

    myReachedCount() {
      const userResults = this.game.results.find(item => {
        return item.user == localStorage.getItem("userId");
      });
      return userResults && userResults.reachedPoints && userResults.reachedPoints.length;
    }
  },

  methods: {
    pageBeforeIn() {
      ymaps.ready(() => {
        ymaps.geolocation
          .get({
            autoReverseGeocode: false,
            timeout: 3000
          })
          .then(
            ({ geoObjects }) => {
              this.createMap(geoObjects.position);
            },
            () => {
              this.createMap([57.153033, 65.534328]);
            }
          );
      });
    },

    onTabPointsShow() {
      if (!map) {
        this.pageInit();
      }
    },

    pageAfterOut() {
      if (map) {
        map.destroy();
      }
    },

    createMap(center, zoom = 12) {
      map = new ymaps.Map("map", {
        center: center,
        zoom: zoom,
        controls: ["zoomControl"]
      });
      unreachedPoints = new ymaps.GeoObjectCollection(null, {
        preset: "islands#orangeIcon"
      });
      reachedPoints = new ymaps.GeoObjectCollection(null, {
        preset: "islands#darkGreenDotIcon"
      });
      unreachedPoints.events.add("click", e => {
        const [lat, lon] = e.get("target").geometry.getCoordinates();
        const point = this.game.points.find(item => {
          return item.lat === lat && item.lon === lon;
        });
        if (point) {
          this.$f7.dialog.prompt("Введите код:", async code => {
            try {
              const responseData = await this.$f7.request.promise.postJSON(
                `${process.env.API_URL}/games/${this.game._id}/verify`,
                {
                  userId: localStorage.getItem("userId"),
                  code,
                  pointId: point._id
                }
              );
              this.game = responseData.data;
              this.updatePoints();
              if (unreachedPoints.getLength() === 0) {
                this.$f7.dialog.alert("Вы нашли все точки!", "Поздравляем!");
              }
            } catch ({ xhr }) {
              const response = JSON.parse(xhr.response);
              this.$f7.dialog.alert(response.message);
            }
          });
        }
      });
      map.geoObjects.add(unreachedPoints).add(reachedPoints);
      this.updatePoints();
      if (map.geoObjects.getLength() > 1) {
        map.setBounds(map.geoObjects.getBounds());
      }
    },

    updatePoints() {
      unreachedPoints.removeAll();
      reachedPoints.removeAll();
      const userResults = this.game.results.find(item => {
        return item.user == localStorage.getItem("userId");
      });
      const reachedResults = userResults && userResults.reachedPoints || [];
      this.game.points.forEach(item => {
        if (reachedResults.indexOf(item._id) === -1) {
          unreachedPoints.add(new ymaps.Placemark([item.lat, item.lon]));
        } else {
          reachedPoints.add(new ymaps.Placemark([item.lat, item.lon]));
        };
      });
    },

    formatDate(value) {
      return value
        ? moment(value).format("DD.MM.YY в HH:mm")
        : "дата неизвестна";
    },

    formatDuration(value) {
      const hours = Math.floor(value / 60);
      const minutes = value - hours * 60;
      const formatted = [];
      if (hours > 0) {
        formatted.push(hours + " ч.");
      }
      if (minutes > 0) {
        formatted.push(minutes + " мин");
      }
      return formatted.join(" ");
    },

    formatStatus(startAt, endAt) {
      const now = moment();
      if (moment(endAt) < now) {
        return "закончилась";
      } else {
        if (moment(startAt) < now) {
          return "идёт";
        } else {
          return "ожидается";
        }
      }
    },

    formatStatusColor(startAt, endAt) {
      const now = moment();
      if (moment(endAt) < now) {
        return "grey";
      } else {
        if (moment(startAt) < now) {
          return "teal";
        } else {
          return "orange";
        }
      }
    },

    togglePlayer(value) {
      this.isPlayer = value;
      if (!isPlayerRestored) {
        if (this.isPlayer) {
          this.$f7.dialog.confirm(
            "Игра появится на вкладке &laquo;Я участник&raquo; и после начала станет доступна вкладка &laquo;Точки&raquo;.",
            "Стать участником?",
            async () => {
              try {
                const resultData = await this.$f7.request.promise.postJSON(
                  `${process.env.API_URL}/games/${this.game._id}/join`,
                  {
                    userId: localStorage.getItem("userId")
                  }
                );
                this.game = resultData.data;
              } catch ({ xhr }) {
                const response = JSON.parse(xhr.response);
                this.$f7.dialog.alert(response.message);
                isPlayerRestored = true;
                this.isPlayer = false;
              }
            },
            () => {
              isPlayerRestored = true;
              this.isPlayer = false;
            }
          );
        } else {
          this.$f7.dialog.confirm(
            "Вы перестанете отслеживать её на вкладке &laquo;Я участник&raquo;.",
            "Покинуть игру?",
            async () => {
              try {
                const resultData = await this.$f7.request.promise.postJSON(
                  `${process.env.API_URL}/games/${this.game._id}/leave`,
                  {
                    userId: localStorage.getItem("userId")
                  }
                );
                this.game = resultData.data;
              } catch ({ xhr }) {
                const response = JSON.parse(xhr.response);
                this.$f7.dialog.alert(response.message);
                isPlayerRestored = true;
                this.isPlayer = true;
              }
            },
            () => {
              isPlayerRestored = true;
              this.isPlayer = true;
            }
          );
        }
      } else {
        isPlayerRestored = false;
      }
    },

    tryDelete() {
      this.$f7.dialog.confirm("Удалить игру?<br>Она перестанет быть доступна в списке игр.", async () => {
        await this.$f7.request.promise({
          url: `${process.env.API_URL}/games/${this.game._id}`,
          method: 'DELETE',
          dataType: 'json'
        });
        this.$f7.views.main.router.back();
      });
    }
  }
};
</script>
