<template>
  <f7-page name="home" tabs :page-content="false" animated @page:beforein="pageBeforeIn">
    <!-- Top Navbar -->
    <f7-navbar sliding>
      <f7-nav-left>
        <f7-link icon-f7="bars" panel-open="left"></f7-link>
      </f7-nav-left>
      <f7-nav-title>Квесты &laquo;Hidden Codes&raquo;</f7-nav-title>
      <f7-nav-right>
        <f7-link icon-f7="plus_circle" href="/new-game/"></f7-link>
      </f7-nav-right>
    </f7-navbar>

    <f7-toolbar tabbar bottom labels>
      <f7-link tab-link-active tab-link="#all-games" text="Предстоящие игры" icon-f7="layers_alt"></f7-link>
      <f7-link tab-link="#my-games" text="Я участник" icon-f7="person_crop_circle_badge_checkmark"></f7-link>
    </f7-toolbar>

    <f7-tabs animated swipeable>
      <f7-tab tab-active id="all-games">
        <f7-page-content ptr @ptr:refresh="refreshAll" infinite :infinite-distance="50" :infinite-preloader="loadInProgress" @infinite="loadMoreAll">
          <template v-if="!games.all.length">
            <f7-block>
              <f7-block-footer class="text-align-center">Не запланировано ни одной игры</f7-block-footer>
            </f7-block>
          </template>
          <template v-else>
            <f7-list media-list class="no-margin-vertical">
              <f7-list-item v-for="item in games.all" :key="item._id"
                :title="item.title"
                :link="`/game/${ item._id }`"
                :after="`${ item.players.length }/${ item.maxPlayers || 0 } чел.`"
                :subtitle="formatDate(item.startDate)"
                :text="item.description"
                chevron-center
              ></f7-list-item>
            </f7-list>
          </template>
        </f7-page-content>
      </f7-tab>
      <f7-tab id="my-games">
        <f7-page-content ptr @ptr:refresh="refreshMy" infinite :infinite-distance="50" :infinite-preloader="loadInProgress" @infinite="loadMoreMy">
          <template v-if="!games.my.length">
            <f7-block>
              <f7-block-footer class="text-align-center">Вы не зарегистрированы ни в одной игре</f7-block-footer>
            </f7-block>
          </template>
          <template v-else>
            <f7-list media-list class="no-margin-vertical">
              <f7-list-item v-for="item in games.my" :key="item._id"
                :title="item.title"
                :link="`/game/${ item._id }`"
                :after="`${ item.players.length }/${ item.maxPlayers || 0 } чел.`"
                :subtitle="formatDate(item.startDate)"
                :text="item.description"
                chevron-center
              ></f7-list-item>
            </f7-list>
          </template>
        </f7-page-content>
      </f7-tab>
    </f7-tabs>
  </f7-page>
</template>

<script>
import moment from 'moment';
export default {
  data() {
    return {
      loadInProgress: false,
      hasMoreAll: false,
      hasMoreMy: false,
      games: {
        all: [],
        my: []
      }
    }
  },

  methods: {
    async pageBeforeIn() {
      this.refreshAll();
      this.refreshMy();
    },

    async refreshAll(done) {
      try {
        const gameData = await this.$f7.request.promise.json(`${process.env.API_URL}/games`, {
          filter: {
            endDate: { $gt: Date.now() }
          }
        });
        this.games.all = gameData.data.data;
        this.hasMoreAll = this.games.all.length < gameData.data.meta.total;
      } catch ({ xhr }) {
        const response = JSON.parse(xhr.response);
        this.$f7.dialog.alert(response.message);
      };
      if (done) {
        done();
      }
    },

    async refreshMy(done) {
      if (localStorage.getItem('userId')) {
        try {
          const gameData = await this.$f7.request.promise.json(`${process.env.API_URL}/games`, {
            filter: {
              players: localStorage.getItem('userId')
            },
            sort: "-startDate"
          });
          this.games.my = gameData.data.data;
          this.hasMoreMy = this.games.my.length < gameData.data.meta.total;
        } catch ({ xhr }) {
          const response = JSON.parse(xhr.response);
          this.$f7.dialog.alert(response.message);
        };
      }
      if (done) {
        done();
      }
    },

    async loadMoreAll() {
      if (!this.hasMoreAll) return;
      this.loadInProgress = true;
      try {
        const gameData = await this.$f7.request.promise.json(`${process.env.API_URL}/games`, {
          skip: this.games.all.length
        });
        this.games.all = [...this.games.all.concat(gameData.data.data)];
        this.hasMoreAll = this.games.all.length > gameData.data.meta.total;
      } catch ({ xhr }) {
        const response = JSON.parse(xhr.response);
        this.$f7.dialog.alert(response.message);
      };
      this.loadInProgress = false;
    },

    async loadMoreMy() {
      if (!this.hasMoreMy) return;
      this.loadInProgress = true;
      try {
        const gameData = await this.$f7.request.promise.json(`${process.env.API_URL}/games`, {
          filter: {
            players: localStorage.getItem('userId')
          },
          skip: this.games.my.length
        });
        this.games.my = [...this.games.my.concat(gameData.data.data)];
        this.hasMoreMy = this.games.my.length > gameData.data.meta.total;
      } catch ({ xhr }) {
        const response = JSON.parse(xhr.response);
        this.$f7.dialog.alert(response.message);
      };
      this.loadInProgress = false;
    },

    formatDate(value) {
      return value ? moment(value).format('DD.MM.YY в HH:mm') : 'дата неизвестна';
    }
  }
}
</script>
