<template>
  <f7-page no-toolbar no-navbar no-swipeback login-screen>
    <f7-login-screen-title>Вход</f7-login-screen-title>
    <f7-list form>
      <f7-list-input
        type="text"
        name="username"
        placeholder="Имя пользователя"
        :value="username"
        @input="username = $event.target.value"
      ></f7-list-input>
      <f7-list-input
        type="password"
        name="password"
        placeholder="Пароль"
        :value="password"
        @input="password = $event.target.value"
      ></f7-list-input>
    </f7-list>
    <f7-block>
      <f7-button large fill @click="tryLogin">Войти</f7-button>
      <f7-block-footer>
        <p>Ещё не создали аккаунт SEON?</p>
        <p>
          <f7-link href="/register/">Зарегистрироваться</f7-link>
        </p>
      </f7-block-footer>
    </f7-block>
  </f7-page>
</template>

<script>
export default {
  data() {
    return {
      username: "",
      password: ""
    };
  },

  methods: {
    async tryLogin() {
      try {
        const userData = await this.$f7.request.promise.postJSON(
          `${process.env.API_URL}/login`,
          {
            name: this.username.toLocaleLowerCase().trim(),
            password: this.password.trim()
          }
        );
        localStorage.setItem("token", userData.data.user.token);
        localStorage.setItem("userId", userData.data.profile.user_uuid);
        localStorage.setItem("profile", JSON.stringify(userData.data.profile));
        this.$f7.views.main.router.navigate("/");
      } catch ({ xhr }) {
        const response = JSON.parse(xhr.response);
        this.$f7.dialog.alert(response.message);
      }
    }
  }
};
</script>
