<template>
  <f7-page name="new-game" tabs :page-content="false" animated @page:init="pageInit" @page:beforeremove="beforeRemove">
    <!-- Top Navbar -->
    <f7-navbar sliding>
      <f7-nav-left>
        <f7-link icon="icon-back" @click="trySave"></f7-link>
      </f7-nav-left>
      <f7-nav-title>Новая игра</f7-nav-title>
      <f7-nav-right>
        <f7-link icon-f7="checkmark_alt_circle" @click="trySave"></f7-link>
      </f7-nav-right>
    </f7-navbar>

    <f7-toolbar tabbar bottom labels>
      <f7-link tab-link-active tab-link="#info" text="Об игре" icon-f7="info_circle"></f7-link>
      <f7-link tab-link="#points" text="Точки" icon-f7="globe"></f7-link>
    </f7-toolbar>

    <f7-actions :opened="pointActionsOpen" @actions:closed="pointActionsOpen = false">
      <f7-actions-group>
        <f7-actions-label>Выберите действие</f7-actions-label>
        <f7-actions-button bold @click="pointActionsChangeCode(pointActionsId)">Изменить код</f7-actions-button>
        <f7-actions-button color="red" @click="pointActionsRemove(pointActionsId)">Удалить</f7-actions-button>
      </f7-actions-group>
    </f7-actions>

    <f7-tabs animated>
      <f7-page-content tab tab-active id="info">
        <f7-list no-hairlines class="no-margin-vertical">
          <f7-list-input
            label="Название"
            type="text"
            floating-label
            clear-button
            required
            validate
            :value="form.title"
            @input="isChanged = true; form.title = $event.target.value"
          ></f7-list-input>

          <f7-list-input
            label="Дата и время начала"
            type="datepicker"
            floating-label
            required
            validate
            :calendarParams="calendarParams"
            readonly
            :value="[form.startDate]"
            @calendar:change="(value) => { form.startDate = value[0] }"
          ></f7-list-input>

          <f7-list-item header="Продолжительность" :title="formDurationTitle">
            <f7-stepper
              :value="form.duration"
              @stepper:change="(value) => { isChanged = true; form.duration = Number(value) }"
              required
              :min="30"
              :max="1440"
              :step="30"
              :autorepeat="true"
              :autorepeat-dynamic="true"
              buttons-only
              slot="after"
            ></f7-stepper>
          </f7-list-item>

          <f7-list-item title="Кол-во участников">
            <f7-stepper
              :value="form.maxPlayers"
              @input="isChanged = true; form.maxPlayers = Number($event.target.value)"
              required
              :min="1"
              :max="50"
              :step="1"
              :autorepeat="true"
              :autorepeat-dynamic="true"
            ></f7-stepper>
          </f7-list-item>

          <f7-list-input
            type="textarea"
            label="Описание"
            floating-label
            :value="form.description"
            @input="isChanged = true; form.description = $event.target.value"
          ></f7-list-input>
        </f7-list>
        <f7-block>
          <f7-block-footer>Для создания игры заполните все поля, перейдите на вкладку "Точки" и задайте метки на карте.</f7-block-footer>
        </f7-block>
      </f7-page-content>

      <f7-page-content tab id="points">
        <div id="map" style="width: 100%; height: 100%"></div>
      </f7-page-content>
    </f7-tabs>
  </f7-page>
</template>

<script>
let map = null;
let pointsCollection = null;

export default {
  data() {
    return {
      form: {
        title: "",
        description: "",
        author: "",
        startDate: new Date(),
        duration: 30,
        maxPlayers: 10,
        points: [],
        players: []
      },
      isChanged: false,
      calendarParams: {
        closeOnSelect: true,
        timePicker: true,
        minDate: Date.now(),
        dateFormat: "D, dd.mm.yyyy, HH::mm"
      },
      pointActionsOpen: false,
      pointActionsId: null
    };
  },

  computed: {
    formDurationTitle() {
      const value = this.form.duration;
      const hours = Math.floor(value / 60);
      const minutes = value - hours * 60;
      const formatted = [];
      if (hours > 0) {
        formatted.push(hours + " ч.");
      }
      if (minutes > 0) {
        formatted.push(minutes + " мин");
      }
      return formatted.join(" ");
    }
  },

  methods: {
    async pageInit() {
      ymaps.ready(() => {
        ymaps.geolocation.get({
          autoReverseGeocode: false,
          timeout: 3000
        }).then(({ geoObjects }) => {
          this.createMap(geoObjects.position);
        }, () => {
          this.createMap([57.153033, 65.534328]);
        });
      });
    },

    async beforeRemove() {
      if (map) {
        map.destroy();
      }
    },

    trySave() {
      if (this.isChanged) {
        if (!this.inProgress) {
          this.$f7.dialog.confirm(
            "Сохранить изменения?",
            async () => {
              this.inProgress = true;
              this.form.author = localStorage.getItem("userId");
              this.form.players = this.form.players || [];
              if (this.form.players.indexOf(this.form.author) === -1) {
                this.form.players.push(this.form.author);
              }
              try {
                const gameData = await this.$f7.request.promise.postJSON(
                  `${process.env.API_URL}/games`,
                  this.form
                );
                this.$f7.views.main.router.back();
              } catch ({ xhr }) {
                const response = JSON.parse(xhr.response);
                this.$f7.dialog.alert(response.message);
              }
              this.inProgress = false;
            },
            () => {
              this.$f7.views.main.router.back();
            }
          );
        }
      } else {
        this.$f7.views.main.router.back();
      }
    },

    createMap(center, zoom = 12) {
      map = new ymaps.Map("map", {
        center: center,
        zoom: zoom,
        controls: ["zoomControl"]
      });
      pointsCollection = new ymaps.GeoObjectCollection(null, {
        preset: "islands#orangeIcon"
      });
      this.form.points.forEach(item => {
        pointsCollection.add(new ymaps.Placemark([item.lat, item.lon]));
      });
      pointsCollection.events.add("click", e => {
        const [lat, lon] = e.get("target").geometry.getCoordinates();
        this.currentPoint = e.get("target");
        this.pointActionsId = this.form.points.findIndex(item => {
          return item.lat === lat && item.lon === lon;
        });
        this.pointActionsOpen = true;
      });

      map.geoObjects.add(pointsCollection);

      map.events.add("click", e => {
        const [lat, lon] = e.get("coords");
        this.$f7.dialog.prompt("Задайте код:", code => {
          this.form.points.push({
            lat,
            lon,
            code
          });
          pointsCollection.add(new ymaps.Placemark([lat, lon]));
          this.isChanged = true;
        });
      });
    },

    pointActionsChangeCode(pointId) {
      this.$f7.dialog.prompt(
        "Задайте код:",
        code => {
          this.form.points[pointId].code = code;
        },
        null,
        this.form.points[pointId].code
      );
    },

    pointActionsRemove(pointId) {
      this.$f7.dialog.confirm("Удалить точку?", () => {
        this.form.points.splice(pointId, 1);
        pointsCollection.removeAll();
        this.form.points.forEach(item => {
          pointsCollection.add(new ymaps.Placemark([item.lat, item.lon]));
        });
      });
    }
  }
};
</script>
