<template>
  <f7-page name="privacy">
    <!-- Top Navbar -->
    <f7-navbar sliding>
      <f7-nav-left back-link></f7-nav-left>
      <f7-nav-title>Политика конфиденциальности</f7-nav-title>
    </f7-navbar>

    <f7-block>
      <p>Настоящая Политика конфиденциальности (далее — Политика) действует в отношении всей информации, которую сервисы SEON Cloud могут получить о пользователе во время использования им Приложения.</p>

      <p>Использование Мобильного Приложения (далее – МП) означает безоговорочное согласие пользователя с настоящей Политикой и указанными в ней условиями обработки его персональной информации сервисами SEON Cloud. В случае несогласия с этими условиями пользователь должен воздержаться от использования Сервисов SEON Cloud.</p>

      <p>
        <b>1. Персональная информация пользователей, которую получает и обрабатывает МП</b>
      </p>
      <p>1.1. В рамках настоящей Политики под «персональной информацией пользователя» понимаются:</p>
      <p>1.1.1. Персональная информация, которую пользователь предоставляет о себе самостоятельно при заполнении формы Профиля пользователя, включая персональные данные пользователя. Обязательная для предоставления Сервисам SEON Cloud информация помечена специальным образом. Иная информация предоставляется пользователем на его усмотрение.</p>
      <p>1.1.2 Данные, которые автоматически передаются в процессе их использования с помощью установленного на устройстве пользователя программного обеспечения, в том числе IP-адрес, информация из cookie, информация о версиях используемого программного обеспечения, геопозиция устройства, время доступа, адрес запрашиваемого ресурса.</p>
      <p>1.2. Настоящая Политика применима ко всем сервисам SEON Cloud, включая настоящее МП. МП не контролирует и не несет ответственность за сайты и мобильные приложения третьих лиц, на которые пользователь может перейти по ссылкам, доступным в данном МП, в том числе картографических сервисов. На таких сайтах и в приложениях у пользователя может собираться или запрашиваться иная персональная информация, а также могут совершаться иные действия.</p>
      <p>1.3. МП в общем случае не проверяет достоверность персональной информации, предоставляемой пользователями, и не осуществляет контроль за их дееспособностью. Однако приложение исходит из того, что пользователь предоставляет достоверную и достаточную персональную информацию на странице Профиля и самостоятельно поддерживает эту информацию в актуальном состоянии.</p>

      <p>
        <b>2. Цели сбора и обработки персональной информации пользователей</b>
      </p>
      <p>2.1. МП собирает и хранит только те персональные данные, которые необходимы для предоставления и оказания услуг.</p>
      <p>2.2. Персональную информацию пользователя МП может использовать в следующих целях:</p>
      <p>2.2.1. Идентификация пользователя в рамках МП;</p>
      <p>2.2.2. Предоставление пользователю персонализированных услуг;</p>
      <p>2.2.3. Связь с пользователем, в том числе направление уведомлений, запросов и информации, касающихся использования Сервисов SEON Cloud, оказания услуг, а также обработка запросов и заявок от пользователя;</p>
      <p>2.2.4. Улучшение качества МП, удобства его использования, разработка нового функционала.</p>

      <p>
        <b>3. Условия обработки персональной информации пользователя и её передачи третьим лицам</b>
      </p>
      <p>3.1. МП хранит персональную информацию пользователей в соответствии с внутренними регламентами конкретных сервисов.</p>
      <p>3.2. В отношении персональной информации пользователя сохраняется ее конфиденциальность, кроме случаев добровольного предоставления пользователем информации о себе для общего доступа неограниченному кругу лиц.</p>
      <p>3.3. МП вправе передать персональную информацию пользователя третьим лицам в следующих случаях:</p>
      <p>3.3.1. Пользователь выразил свое согласие на такие действия;</p>
      <p>3.3.2. Передача предусмотрена российским или иным применимым законодательством в рамках установленной законодательством процедуры;</p>
      <p>3.3.3. В целях обеспечения возможности защиты прав и законных интересов МП или третьих лиц в случаях, когда пользователь нарушает Пользовательское соглашение Сервисов SEON Cloud.</p>
      <p>3.4. При обработке персональных данных пользователей МП руководствуется Федеральным законом РФ «О персональных данных».</p>

      <p>
        <b>4. Изменение пользователем персональной информации</b>
      </p>
      <p>4.1. Пользователь может в любой момент изменить (обновить, дополнить) предоставленную им персональную информацию или её часть, а также параметры её конфиденциальности.</p>

      <p>
        <b>5. Меры, применяемые для защиты персональной информации пользователей</b>
      </p>
      <p>МП принимает необходимые и достаточные организационные и технические меры для защиты персональной информации пользователя от неправомерного или случайного доступа, уничтожения, изменения, блокирования, копирования, распространения, а также от иных неправомерных действий с ней третьих лиц.</p>

      <p>
        <b>6. Изменение Политики конфиденциальности. Применимое законодательство</b>
      </p>
      <p>6.1. МП имеет право вносить изменения в настоящую Политику конфиденциальности. При внесении изменений в актуальной редакции указывается дата последнего обновления. Новая редакция Политики вступает в силу с момента ее размещения, если иное не предусмотрено новой редакцией Политики.</p>
      <p>6.2. К настоящей Политике и отношениям между пользователем и МП, возникающим в связи с применением Политики конфиденциальности, подлежит применению право Российской Федерации.</p>

      <f7-block-footer class="text-align-right">Версия Политики от 01.04.2020</f7-block-footer>
    </f7-block>
  </f7-page>
</template>
