<template>
  <f7-page name="profile" @page:init="pageInit">
    <!-- Top Navbar -->
    <f7-navbar sliding>
      <f7-nav-left>
        <f7-link icon="icon-back" @click="trySave"></f7-link>
      </f7-nav-left>
      <f7-nav-title>Мой профиль</f7-nav-title>
    </f7-navbar>

    <f7-list no-hairlines class="no-margin-vertical">
      <f7-list-input
        label="Имя"
        :value="form.displayName"
        @input="isChanged = true; form.displayName = $event.target.value"
        type="text"
        floating-label
        clear-button
      ></f7-list-input>

      <f7-list-input
        label="Дата рождения"
        placeholder="Выберите"
        type="date"
        :value="form.birthday"
        @input="isChanged = true; form.birthday = $event.target.value"
      ></f7-list-input>

      <f7-list-input
        label="Пол"
        type="select"
        :value="form.sex"
        @input="isChanged = true; form.sex = $event.target.value"
      >
        <option>Не указан</option>
        <option>Мужской</option>
        <option>Женский</option>
        <option>Другой</option>
      </f7-list-input>
    </f7-list>
    <f7-block>
      <f7-block-footer class="text-align-center">
        <p>Отредактируйте свой профиль SEON.</p>
        <p>Используйте одну учётную запись для всех продуктов SEON Cloud.</p>
        <p>
          <f7-link href="/privacy/">Политика конфиденциальности</f7-link>
        </p>
      </f7-block-footer>
    </f7-block>
  </f7-page>
</template>

<script>
export default {
  data() {
    return {
      inProgress: false,
      isChanged: false,
      form: {
        displayName: "",
        birthday: "",
        sex: undefined
      }
    };
  },

  methods: {
    pageInit() {
      const localProfile = localStorage.getItem("profile");
      if (localProfile) {
        this.form = JSON.parse(localProfile);
      }
    },

    trySave() {
      if (this.isChanged) {
        if (!this.inProgress) {
          this.$f7.dialog.confirm(
            "Сохранить изменения?",
            async () => {
              this.inProgress = true;
              try {
                const profileData = await this.$f7.request.promise.postJSON(
                  `${process.env.API_URL}/profile`,
                  {
                    token: localStorage.getItem("token"),
                    profile: this.form
                  }
                );
                localStorage.setItem(
                  "profile",
                  JSON.stringify(profileData.data.profile)
                );
                this.$f7.views.main.router.back();
              } catch ({ xhr }) {
                const response = JSON.parse(xhr.response);
                this.$f7.dialog.alert(response.message);
              }
              this.inProgress = false;
            },
            () => {
              this.$f7.views.main.router.back();
            }
          );
        }
      } else {
        this.$f7.views.main.router.back();
      }
    }
  }
};
</script>
