<template>
  <f7-app :params="f7params" class="color-theme-teal">
    <f7-panel left>
      <f7-view>
        <f7-page>
          <f7-navbar>
            <f7-nav-left>
              <f7-link icon-f7="bars" panel-close="left"></f7-link>
            </f7-nav-left>
            <f7-nav-title>&laquo;Hidden Codes&raquo;</f7-nav-title>
          </f7-navbar>
          <f7-list no-hairlines class="no-margin-vertical" no-chevron>
            <f7-list-item view=".view-main" panel-close link="/" title="Список игр">
              <f7-icon slot="media" f7="layers_alt"></f7-icon>
            </f7-list-item>
            <f7-list-item view=".view-main" panel-close link="/profile/" title="Мой профиль">
              <f7-icon slot="media" f7="person"></f7-icon>
            </f7-list-item>
            <f7-list-item view=".view-main" panel-close link="/about/" title="О приложении">
              <f7-icon slot="media" f7="question_diamond"></f7-icon>
            </f7-list-item>
            <f7-list-item panel-close link="#" @click="tryLogout" title="Выход">
              <f7-icon slot="media" f7="xmark_octagon"></f7-icon>
            </f7-list-item>
          </f7-list>
          <f7-toolbar bottom no-shadow>
            <f7-block-footer class="no-margin-vertical">v1.0. &copy;SEON Cloud</f7-block-footer>
          </f7-toolbar>
        </f7-page>
      </f7-view>
    </f7-panel>
    <f7-view main class="safe-areas" url="/login"></f7-view>
  </f7-app>
</template>
<script>
import { Device } from "framework7/framework7-lite.esm.bundle.js";
import cordovaApp from "../js/cordova-app.js";
import routes from "../js/routes.js";

export default {
  data() {
    return {
      f7params: {
        id: "cloud.seon.app.hiddencodes",
        name: "HiddenCodes",
        theme: "md",
        autoDarkTheme: true,

        // App routes
        routes: routes,

        // Input settings
        input: {
          scrollIntoViewOnFocus: Device.cordova && !Device.electron,
          scrollIntoViewCentered: Device.cordova && !Device.electron
        },

        // Dialog settings
        dialog: {
          buttonOk: "Да",
          buttonCancel: "Нет",
          preloaderTitle: "Загрузка"
        },

        // Cordova Statusbar settings
        statusbar: {
          iosOverlaysWebView: true,
          androidOverlaysWebView: false
        }
      }
    };
  },

  methods: {
    async tryLogout() {
      localStorage.removeItem("token");
      localStorage.removeItem("userId");
      localStorage.removeItem("profile");
      this.$f7.views.main.router.navigate("/login");
    }
  },

  mounted() {
    this.$f7ready(async f7 => {
      if (Device.cordova) {
        cordovaApp.init(f7);
      }

      const token = localStorage.getItem("token");
      if (token) {
        try {
          const userData = await this.$f7.request.promise.postJSON(
            `${process.env.API_URL}/login`,
            {
              token
            }
          );
          localStorage.setItem("token", userData.data.user.token);
          localStorage.setItem("userId", userData.data.profile.user_uuid);
          localStorage.setItem(
            "profile",
            JSON.stringify(userData.data.profile)
          );
          this.$f7.views.main.router.navigate("/");
        } catch ({ xhr }) {
          localStorage.removeItem("token");
          localStorage.removeItem("userId");
          localStorage.removeItem("profile");
        }
      }
      if (window.navigator.splashscreen) {
        window.navigator.splashscreen.hide();
      }
    });
  }
};
</script>
